@import './variables.module.scss';

.mainContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.imageSection {
    background-color: $corelab;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
}

.formSection {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .imageSection {
        width: 50%;
    }

    .formSection {
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    .imageSection {
        display: none;
    }

    .formSection {
        width: 100%;
    }
}