@import './variables.module.scss';


.newNoteContainer {
    width: 500px;
    height: auto;
    margin: 70px 0 40px 0px;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25),
                -1px -1px 1px rgba(0, 0, 0, 0.15);
    background-color: $primary;
    textarea {
        resize: none;
        height: auto;
        width: 100%;
        max-height: 500px;
        padding: 0 20px;
        margin: 15px 0;
    }
    position: absolute;
}

@media only screen and (max-width: 767px) {
    .newNoteContainer {
        width: 400px;
        border-radius: 25px;
        max-width: 90vw;
    }
}

.titleContainer {
    display: flex;
    align-items: center;
    padding-right: 20px;
    height: 40px;
    border-bottom: 1px solid #D9D9D9;;
    input {
        width: 80%;
        margin: 0 20px;
        color: $note-title;
        font-weight: bold;
    }
    img {
        margin-left: auto;
        &:hover {
            cursor: pointer
        }
    }
}



  .buttonDiv {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 0 10px;
    
    span {
        font-size: 14px;
        font-weight: bold;
        width: 200px;
        margin-right: 250px;
        color: rgb(255, 118, 118);
    }

    button {
        background-color: $primary;
        width: 10px;
        height: 10px;
        border: solid $subtitle;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

        &:hover {
            cursor: pointer;
        }
    }
  }