$primary: #fff;
$secondary:#f0f2f5;
$logo-title: #455A64;
$note-title: #333333;
$subtitle: #464646;
$placeholder: #50656E;
$selected: #6868688c;
$fill: #FFA000;
$error: #FF0000;
$corelab: #893cee;

// Colors
$lightBlue: #bae2ff;
$green: #b9ffdd;
$yellow: #ffe8ac;
$pink: #ffcab9;
$red: #f99494;
$blue: #9dd5ff;
$purple: #eca1ff;
$lime: #daff8b;
$orange: #ffa285;
$gray: #cdcdcd;
$black: #979797;
$brown: #a99a7c;